.item-enter {
    opacity: 0.01;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}
 